<header class="flex justify-between items-center w-full p-2 text-white bg-primary">
  <h1 class="text-3xl font-bold">Abillyz</h1>
  <nav>
    <ul>
      <li>
        <% if user_signed_in? %>
          <%= link_to t('.signout'), destroy_user_session_path, data: { "turbo-method": :delete, test_id: 'signout' } %>
        <% else %>
          <%= link_to t('.signin'), new_user_session_path, data: { "turbo-frame": false, test_id: 'signin' } %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>
